@import './variables';

body {
    background-image: linear-gradient(to right, $hColor, $lColor);
    background: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    flex-direction: column;
    display: flex;
    width: 100vw;
    padding-top: 35px;

    #containerTime, #containerDate {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
       }

    .transparentDiv {
        width: 85vw;
        height: 40vw;
        background:transparent;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 5) ;
        border-radius: 15px;      
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

    .black {
        display: inline-flex;
        flex-direction: column;
        height: 23vw;
        width: 23vw;
        border-radius: 15px;
        background-color: black;
        align-items: center;
        justify-content: center;

    }

p {color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8vw;
}

#hora, #minuto, #segundo {color: white;}

span {color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
}

#timeImage {
    width: 20vw;
    position: relative;
    top: 0;
}

#dateImage {
    width: 20vw;
    position: relative;
    top:0;  
}
}

.haveFun {
    background-color: white;
    border-radius: 10px;
    width: 70vw;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5) ;

    .funSpan {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    .funTitle {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.wrapper {
    width: 100%;
    text-align: center;
    
    input {display: inline-block;
    width: 70%;
    margin-left: 5px;
    margin-top: 10px;
}
}
}

/* DESKTOP VIEW */
@media (min-width: 529px) {

#container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

.transparentDiv {
        width: 40vw;
        height: 20vw;
    }

.black {
        height: 10vw;
        width: 10vw;
    }

p {font-size: 4vw;}

span {font-size: 2vw;}

#timeImage {
    width: 10vw;
}

#dateImage {
    width: 10vw;
 }
}

.haveFun {
    width: 35vw;}

}
